DATABASE_URL="mongodb+srv://thantraastro:ashokca810%40A@cluster0.val1mau.mongodb.net/thantra_lms?retryWrites=true&w=majority&appName=Cluster0"
AUTH_SECRET="dev-secret-minimum-sixteen-characters-long"

NEXT_PUBLIC_APP_URL="http://192.168.29.8:3000"

MSG91_AUTH_KEY="440371AUT3I3zJpWiv681df3d6P1"
MSG91_SENDER_ID="VGMPLD"
MSG91_TEMPLATE_ID="679f6743d6fc054835399a22"
MSG91_FLOW_ID=""
MSG91_FLOW_OTP_KEY="OTP"

R2_ACCOUNT_ID="93704bfaef5d4d3e64c0da69c5faaae4"
R2_ACCESS_KEY_ID="8235b9cc98fb898a5fcaa74c495d0ff5"
R2_SECRET_ACCESS_KEY="14516105e47c1613726f57363f8362b3c8c29f772f1fb2e024618b0d7b88364a"
R2_BUCKET_NAME="thantra"
R2_PUBLIC_BASE_URL="https://pub-f35e903402514e0a906601c1b15ddd3b.r2.dev"

RAZORPAY_KEY_ID="rzp_test_Sk8JF7Rie5dGGr"
RAZORPAY_KEY_SECRET="zz9Jmg8ZoqLH23exzPInvMWw"
RAZORPAY_WEBHOOK_SECRET=""
